<div class="container">
  <h1>ユーザ編集ページ</h1>

  <%= form_with(model: @user, url: user_path(@user), method: :patch, local: true, id: 'update-user', class: "w-50 mx-auto") do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@user.errors.count, "エラー") %>が発生しました:</h2>
        <ul>
          <% @user.errors.each do |attribute, message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, "名前", id: "name-label" %>
      <%= form.text_field :name, id: "name", class: "form-control", placeholder: '山田太郎'  %>
    </div>

    <div class="form-group">
      <%= form.label :email, "メールアドレス", id: "email-label" %>
      <%= form.email_field :email, id: "email", class: "form-control", placeholder: 'user@example.com' %>
    </div>

    <div class="form-group">
      <%= form.label :password, "パスワード", id: "password-label" %>
      <%= form.password_field :password, id: "password", class: "form-control", placeholder: 'password' %>
    </div>

    <div class="form-group">
      <%= form.label :password_confirmation, "パスワード（確認）", id: "password-confirmation-label" %>
      <%= form.password_field :password_confirmation, id: "password-confirmation", class: "form-control", placeholder: 'password' %>
    </div>

    <div class="form-group form-check">
      <%= form.check_box :admin, id: "admin", class: "form-check-input" %>
      <%= form.label :admin, "管理者権限", id: "admin-label", class: "form-check-label" %>
    </div>

    <div class="actions">
      <%= form.submit "更新する", id: "update-user", class: "btn btn-primary" %>
    </div>

    <%= link_to "戻る", users_path, id: "back", class: "btn btn-secondary mt-3" %>
  <% end %>
</div>