<h1><%= t('views.events.edit.title') %></h1>
<%= form_with model: @event, local: true do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% @event.errors.each do |attribute, message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title,  t('views.events.edit.form.title') %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, t('views.events.edit.form.content') %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :scheduled_date, t('views.events.edit.form.scheduled_date') %>
    <%= form.datetime_select :scheduled_date, use_month_numbers: true  %>
  </div>

  <div class="actions">
    <%= form.submit t('views.events.edit.form.update'), id: 'update-event' %>
  </div>
<% end %>

<%= link_to t('views.events.edit.form.back'), events_path,  id: 'back' %>

