<h1><%= t('views.events.index.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('views.events.index.table_headers.title') %></th>
      <th><%= t('views.events.index.table_headers.content') %></th>
      <th><%= t('views.events.index.table_headers.scheduled_date') %></th>
      <th><%= t('views.events.index.table_headers.created_at') %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.content %></td>
        <td><%= event.scheduled_date.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= event.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= link_to t('views.events.index.actions.show'), event_path(event), class: 'show-event' %></td>
        <td><%= link_to t('views.events.index.actions.edit'), edit_event_path(event), class: 'edit-event' %></td>
        <td><%= link_to t('views.events.index.actions.destroy'), event_path(event), method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy-event' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @events %>
