<h1><%= t('views.events.show.title') %></h1>

<p>
  <strong><%= t('views.events.show.attributes.title') %>:</strong>
  <%= @event.title %>
</p>

<p>
  <strong><%= t('views.events.show.attributes.content') %></strong>
  <%= @event.content %>
</p>

<p>
  <strong><%= t('views.events.show.attributes.scheduled_date') %></strong>
  <%= @event.scheduled_date.strftime("%Y/%m/%d %H:%M:%S") %>
</p>

<%= link_to t('views.events.index.actions.edit'), edit_event_path(@event), id: 'edit-event' %> |
<%= link_to t('views.events.new.form.back'), events_path, id: 'back' %>
