<div class="container">
  <h1 class="my-4"><%= t('views.users.index.title') %></h1>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th><%= t('activerecord.attributes.user.name') %></th>
        <th><%= t('activerecord.attributes.user.email') %></th>
        <th><%= t('activerecord.attributes.user.admin') %></th>
      </tr>
    </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.is_admin? ? "あり" : "なし" %></td>
        <td>
        <%= link_to t('views.events.index.actions.show'), admin_user_path(user), class: 'btn btn-primary btn-sm' %>
        <%= link_to t('views.events.index.actions.edit'), edit_admin_user_path(user), class: 'btn btn-secondary btn-sm' %>
        <%= link_to t('views.events.index.actions.destroy'), admin_user_path(user), method: :delete, data: { confirm: t('views.events.index.actions.confirm_destroy') }, class: 'btn btn-danger btn-sm' %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
