<!DOCTYPE html>
<html>
  <head>
    <title>AnswerChecker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p id="notice" class="flash notice"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p id="alert" class="flash alert"><%= flash[:alert] %></p>
    <% end %>

      <nav>
        <ul>
        <% if user_signed_in? %>
          <li><%= link_to t('views.navigation.events_index'), events_path, id: 'events-index' %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
        
        </ul>
      </nav>
    
    
    <%= yield %>
  </body>
</html>
